Repository joancaron/refined-bitbucket-server: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-fix, yarn format

chore: Feature template
  src/features/feature-template.tsx
Due: yarn lint-fix, yarn format

feat(source): VSCode icons
  src/features/source-icons.tsx
Due: yarn lint-fix, yarn format

feat(pr): Linkify branches (target and source) on header section
  src/features/pr-linkify-header-branches.tsx
Due: yarn lint-fix, yarn format

feat(pr): Overview tab - Summary of the linked JIRA (from branch name)
  src/features/pr-linked-jira-summary.tsx
Due: yarn lint-fix, yarn format

[ImgBot] Optimize images
  src/icon.png
Due: none

build: Move manifest file to root and add npm scripts for publish
  manifest.json
  package.json
  webpack.config.js
  yarn.lock
Due: yarn lint-fix, yarn format

build: Add Azure pipelines build configuration
  azure-pipelines.yml
Due: none

build: Add build versioning and copy to artifact directory steps
  azure-pipelines.yml
Due: none

doc: remove condition
  azure-pipelines.yml
Due: none

build: Wrong pattern matching for dist folder
  azure-pipelines.yml
Due: none

build: List files and publish artifacts
  azure-pipelines.yml
Due: none

build: Update paths
  azure-pipelines.yml
Due: none

build: Add upload on tags
  api.ts
  azure-pipelines.yml
  package.json
Due: yarn lint-fix, yarn format

build: rename variable
  azure-pipelines.yml
Due: none

build: Publish artifacts only on tags
  azure-pipelines.yml
Due: none

build: duplicated conditions
  azure-pipelines.yml
Due: none

chore: Add build status
  README.md
Due: yarn format

chore(release): 1.0.0
  CHANGELOG.md
Due: yarn format

build: force windows agent
  azure-pipelines.yml
Due: none

fix: Build issues
  azure-pipelines.yml
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

fix: Build issues - move to Travis CI
  .travis.yml
  azure-pipelines.yml
  package.json
  src/icon.png
  yarn.lock
Due: yarn format

chore(release): 1.0.2
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

fix: Build issues on Travis
  package.json
Due: yarn format

docs: Update build badge
  README.md
Due: yarn format

chore(release): 1.0.3
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

feat: Firefox extension listing
  manifest.json
Due: yarn format

chore(release): 1.1.0
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

feat(pr): Display a red dot when there is a comment on a file
  src/content.css
Due: yarn format

chore(release): 1.2.0
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

master Add dev info
  README.md
Due: yarn format

doc: Add dev infos
  README.md
Due: yarn format

yra Improve linked jira display
  src/content.css
  src/features/pr-linked-jira-summary.tsx
Due: yarn lint-fix, yarn format

chore: enhance api
  package.json
  src/libs/api.ts
  src/libs/api.tsx
  src/libs/notification.tsx
  yarn.lock
Due: yarn lint-fix, yarn format

chore: enhance api (#17)
  package.json
  src/libs/api.ts
  src/libs/api.tsx
  src/libs/notification.tsx
  yarn.lock
Due: yarn lint-fix, yarn format

fix: Improve linked jira display (#16)
  src/content.css
  src/features/pr-linked-jira-summary.tsx
Due: yarn lint-fix, yarn format

yra Add fix version feature
  src/features/pr-linked-jira-summary.tsx
  src/libs/api.ts
  src/libs/api.tsx
Due: yarn lint-fix, yarn format

yra Remove temp fix
  src/libs/api.tsx
Due: yarn lint-fix, yarn format

yra Improve handling when not logged in Jira
  src/libs/api.tsx
Due: yarn lint-fix, yarn format

Path conditions:
  yarn lint-fix: any of: *.{js,jsx,ts,tsx}
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,json,md})
