Repository joancaron/refined-bitbucket-server: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-fix, yarn format

feat: add jira transitions
  package.json
  src/content.css
  src/features/pr-linked-jira-summary.tsx
  src/features/pr-linkify-header-branches.tsx
  src/libs/api.tsx
  yarn.lock
Due: yarn lint-fix, yarn format

feat: add jira transitions (#21)
  package.json
  src/content.css
  src/features/pr-linked-jira-summary.tsx
  src/features/pr-linkify-header-branches.tsx
  src/libs/api.tsx
  yarn.lock
Due: yarn lint-fix, yarn format

chore(release): 1.3.0
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn format

feature/resizable-nav feat: Projects - Resizable nav
  package.json
  src/content.ts
  src/features/project-resizable-nav.ts
  src/libs/page-detect.ts
  yarn.lock
Due: yarn lint-fix, yarn format

feat(project): Resizable nav (#28)
  package.json
  src/content.ts
  src/features/project-resizable-nav.ts
  src/libs/page-detect.ts
  yarn.lock
Due: yarn lint-fix, yarn format

master chore: update dependencies
  yarn.lock
Due: none

restore-compatibility Update target class for new Bitbucket version
  src/features/pr-linked-jira-summary.tsx
Due: yarn lint-fix, yarn format

restore-compatibility Update context data retrieval
  src/libs/page-detect.ts
Due: yarn lint-fix, yarn format

restore-compatibility Working sample
  src/content.css
  src/entities/fields.ts
  src/entities/issue.ts
  src/entities/issuetype.ts
  src/entities/parent.ts
  src/entities/properties.ts
  src/entities/status.ts
  src/entities/transition.ts
  src/features/pr-linked-jira-summary.tsx
  src/libs/api.tsx
Due: yarn lint-fix, yarn format

feat: Restore BitBucket DC compatibility (#45)
  src/content.css
  src/entities/fields.ts
  src/entities/issue.ts
  src/entities/issuetype.ts
  src/entities/parent.ts
  src/entities/properties.ts
  src/entities/status.ts
  src/entities/transition.ts
  src/features/pr-linked-jira-summary.tsx
  src/libs/api.tsx
  src/libs/page-detect.ts
Due: yarn lint-fix, yarn format

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Path conditions:
  yarn lint-fix: any of: *.{js,jsx,ts,tsx}
  yarn format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,json,md})
